@{
    ViewData["Title"] = "Créditos";
}
<div class="container mt-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <table class="table table-bordered">
        <!-- Adicionando classes de Bootstrap para tabela -->
        <thead class="thead-dark">
            <tr>
                <th>Prontuário</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CB3020282</td>
                <td>Ronald Pereira Evangelista</td>
            </tr>
            <tr>
                <td>CB3011836</td>
                <td>Ketheleen Cristine Simão dos Santos</td>
            </tr>
        </tbody>
    </table>
</div>
