@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo, professor Tuler</h1>
    <p><a href="https://github.com/ronaldevangelista/TP02SWII6/blob/master/SWII6_TP02.pdf">Clique aqui</a> para ler o que foi pedido nesse trabalho.</p>
</div>
