@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo, professor Tuler</h1>
    <p><a href="">Clique aqui</a> para ler o que foi pedido nesse trabalho</p>
</div>
